html{
	height: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body{
	margin: 0;
	color: #000;
	font: 14px/18px Arial, Helvetica, sans-serif;
	background: #fff;
	min-width: 320px;
	height: 100%;
}
img{
	border-style: none;
	vertical-align: top;
}
a{
	color: #000;
	outline: none;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
*{
	outline: none;
}
input:not([type="checkbox"]):not([type="radio"]), textarea, select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
	-webkit-appearance: none;
}
form, fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
header,
nav,
section,
main,
article,
aside,
footer,
figure,
menu,
dialog{
	display: block;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
p{
	margin: 0 0 20px;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 20px;
	font-weight: normal;
}
input::-webkit-input-placeholder 		{opacity: 1;}
input::-moz-placeholder 				{opacity: 1;}
input:-moz-placeholder 					{opacity: 1;}
input:-ms-input-placeholder 			{opacity: 1;}
input:focus::-webkit-input-placeholder 	{opacity: 0;}
input:focus::-moz-placeholder          	{opacity: 0;}
input:focus:-moz-placeholder           	{opacity: 0;}
input:focus:-ms-input-placeholder      	{opacity: 0;}
textarea::-webkit-input-placeholder 		{opacity: 1;}
textarea::-moz-placeholder 					{opacity: 1;}
textarea:-moz-placeholder 					{opacity: 1;}
textarea:-ms-input-placeholder 				{opacity: 1;}
textarea:focus::-webkit-input-placeholder 	{opacity: 0;}
textarea:focus::-moz-placeholder          	{opacity: 0;}
textarea:focus:-moz-placeholder           	{opacity: 0;}
textarea:focus:-ms-input-placeholder      	{opacity: 0;}

#wrapper{
	overflow: hidden;
}
.center{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.center:after{
	content: '';
	display: table;
	clear: both;
}
header{
	
}
.logo{
	background: url(../images/logo.png) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
}
.logo a{
	display: block;
	height: 100%;
	text-indent: -9999px;
	overflow: hidden;
}